.Background {
  background-image: url(Kacuna.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  flex-direction: column;
}

.headerr {
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  flex-direction: column;
}

.mainnn {
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  flex-direction: column;
}



.container1 {
  color: white;
  margin-left: -1100;
  flex-direction: column;
}

.container2 {
  color: white;
  margin-left: 1084;
  flex-direction: column;
  margin-top: -249;
}

.img1 {
  width: 240;
  margin-left: 90;
  margin-top: -175;
  flex-direction: column;
}

.Contact {
  color: white;
  text-align: center;
  font-size: 20;
  font-family: 'Courier New', Courier, monospace;
}

.mem{
  width: 300;
  margin-top: 40;
  flex-direction: column;
}

.img3{
  width: 40;
  margin-top: -40;
  margin-left: -1400;
  flex-direction: column;
}

.img3:hover{
  box-shadow: 0px 0px 10px lightgreen;
}

.logo-img {
  width: 40;
  margin-top: -40;
  flex-direction: column;
}

.txt{
  color: white;
  font-size: 20;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 550;
  margin-top: 100;
}